
.videobg.test {
    background: linear-gradient(0deg,var(--gray-dark),#61686e);
}
.featurescontainer.test {
    background: linear-gradient(0deg,rgb(158, 77, 77) 55%,var(--dark),var(--gray-dark));
}
.submit{
    background-color: #1E1613;
    border: 1px solid #524A44;
    border-radius: 3px 3px 3px 3px;
    color: #C6BAB3;
    padding: 3px 4px;
    width: 135px;
    
    text-decoration: none;
    margin-bottom: 15px;
  }
  .submit {
    background: #3b3229;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #3b3229), color-stop(100, #201d18));
    background-image: -moz-linear-gradient(top,  #3b3229 0%, #201d18 100%);
    background-image: -o-linear-gradient(top,  #3b3229 0%, #201d18 100%);
    background-repeat: repeat-x;
    cursor: pointer;
    font-weight: bold;
    text-shadow: 0 -1px 0 #000000;
    text-transform: uppercase;
  }
  .submit:hover {
    background: #a14b0e;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #a14b0e), color-stop(100, #4f2203));
    background-image: -moz-linear-gradient(top,  #a14b0e 0%, #4f2203 100%);
    background-image: -o-linear-gradient(top,  #a14b0e 0%, #4f2203 100%);
    background-repeat: repeat-x;
    border-color: #BD6D1E;
    color: #E1B940;
    text-shadow: 0 -1px 0 #444444;
  }
  .submit1{
    background-color: #1E1613;
    border: 1px solid #524A44;
    border-radius: 3px 3px 3px 3px;
    color: #C6BAB3;
    padding: 3px 4px;
    width: 135px;
    
    text-decoration: none;
    margin-bottom: 15px;
  }
  .submit1 {
    background: #9e620b;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #9e620b), color-stop(100, #281a01));
    background-image: -moz-linear-gradient(top,  #9e620b 0%, #281a01 100%);
    background-image: -o-linear-gradient(top,  #9e620b 0%, #281a01 100%);
    background-repeat: repeat-x;
    cursor: pointer;
    font-weight: bold;
    text-shadow: 0 -1px 0 #000000;
    text-transform: uppercase;
  }
  .submit1:hover {
    background: #7aa326;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #9e910bdb), color-stop(100, #4f4103));
    background-image: -moz-linear-gradient(top,  #7f8f18 0%, #4f4103 90%);
    background-image: -o-linear-gradient(top,  #9e910bdb 0%, #4f4103 90%);
    background-repeat: repeat-x;
    border-color: #BD6D1E;
    color: #E1B940;
    text-shadow: 0 -1px 0 #444444;
  }
  .submit2{
    background-color: #2d4210;
    border: 1px solid #4c5244;
    border-radius: 3px 3px 3px 3px;
    color: #cad1c5;
    padding: 3px 4px;
    width: 135px;
    
    text-decoration: none;
    margin-bottom: 15px;
  }
  .submit2 {
    background: #49831aeb;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #506930), color-stop(100, #0d1402));
    background-image: -moz-linear-gradient(top,  #49831aeb 0%, #091507f2 90%);
    background-image: -o-linear-gradient(top,  #506930 0%, #0d1404 90%);
    background-repeat: repeat-x;
    cursor: pointer;
    font-weight: bold;
    text-shadow: 0 -1px 0 #000000;
    text-transform: uppercase;
  }
  .submit2:hover {
    background: #7da10e;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #93a10e), color-stop(100, #3f4f03));
    background-image: -moz-linear-gradient(top,  #93a10e 0%, #3f4f03 90%);
    background-image: -o-linear-gradient(top,  #93a10e 0%, #3f4f03 90%);
    background-repeat: repeat-x;
    border-color: #bd9c1e;
    color: #e1dc40;
    text-shadow: 0 -1px 0 #444444;
  }
  .submit3{
    background-color: #a12a0e;
    border: 1px solid #524744;
    border-radius: 3px 3px 3px 3px;
    color: #cad1c5;
    padding: 3px 4px;
    width: 135px;
    
    text-decoration: none;
    margin-bottom: 15px;
  }
  .submit3 {
    background: #83331aeb;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #83331aeb), color-stop(99, #150a07f2));
    background-image: -moz-linear-gradient(top,  #83331aeb 0%, #150a07f2 90%);
    background-image: -o-linear-gradient(top,  #83331aeb 0%, #150a07f2 90%);
    background-repeat: repeat-x;
    cursor: pointer;
    font-weight: bold;
    text-shadow: 0 -1px 0 #000000;
    text-transform: uppercase;
  }
  .submit3:hover {
    background: #d04929;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #a12a0e), color-stop(90, #4f0e03));
    background-image: -moz-linear-gradient(top,  #a12a0e 0%, #4f0e04 90%);
    background-image: -o-linear-gradient(top,  #a12a0e 0%, #4f0e03 90%);
    background-repeat: repeat-x;
    border-color: #d9401d;
    color: #ffa98f;
    text-shadow: 0 -1px 0 #444444;
  }
  .submit4{
    background-color: #1a1918f2;
    border: 1px solid #524744;
    border-radius: 3px 3px 3px 3px;
    color: #cad1c5;
    padding: 3px 4px;
    width: 135px;
    
    text-decoration: none;
    margin-bottom: 15px;
  }
  .submit4 {
    background: #606060;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #606060), color-stop(99, #1a1918f2));
    background-image: -moz-linear-gradient(top,  #606060 0%, #1a1918f1 90%);
    background-image: -o-linear-gradient(top,  #606060 0%, #1a1918f2 90%);
    background-repeat: repeat-x;
    cursor: pointer;
    font-weight: bold;
    text-shadow: 0 -1px 0 #000000;
    text-transform: uppercase;
  }
  .submit4:hover {
    background: #6e7112;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #6e7110), color-stop(90, #4f3504));
    background-image: -moz-linear-gradient(top,  #6e7110 0%, #4f3504 90%);
    background-image: -o-linear-gradient(top,  #6e7110 0%, #4f3504 90%);
    background-repeat: repeat-x;
    border-color: #c8a280;
    color: #dfe1a2;
    text-shadow: 0 -1px 0 #444444;
  }
  .submit5{
    background-color: #18191af3;
    border: 1px solid #524744;
    border-radius: 3px 3px 3px 3px;
    color: #cad1c5;
    padding: 3px 4px;
    width: 135px;
    
    text-decoration: none;
    margin-bottom: 15px;
  }
  .submit5 {
    background: #415e7a;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #415e7a), color-stop(99, #18191af2));
    background-image: -moz-linear-gradient(top,  #415e7a 0%, #18191af2 90%);
    background-image: -o-linear-gradient(top,  #415e7a 0%, #18191af2 90%);
    background-repeat: repeat-x;
    cursor: pointer;
    font-weight: bold;
    text-shadow: 0 -1px 0 #000000;
    text-transform: uppercase;
  }
  .submit5:hover {
    background: #104573;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #2d92e5), color-stop(90, #04234f));
    background-image: -moz-linear-gradient(top,  #2d92e5 0%, #04234f 90%);
    background-image: -o-linear-gradient(top,  #2d92e5 0%, #04234f 90%);
    background-repeat: repeat-x;
    border-color: #8a80c8;
    color: #dfe1a2;
    text-shadow: 0 -1px 0 #444444;
  }